<%- layout("layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error <%= typeof statusCode !== 'undefined' ? statusCode : '500' %></h4>
            <p><%= typeof message !== 'undefined' ? message : 'Something went wrong!' %></p>
            <hr>
            <a href="/listings" class="btn btn-primary">Go Back Home</a>
        </div>
    </div>
</div>